<!-- Si es valido:
Class en input : is-valid
y habilitar el div de feedback
Si es invalido
Class en input is-invalid
[ngClass]="{
                            'fill-red': roleApp=='MANAGER',
                            'fill-violet': roleApp=='PROVIDER'
                        }"
-->
<div class="container-form">
  <form class="row g-3" [formGroup]="formulario" (ngSubmit)="submit($event)">
    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Nombre</label>
      <input type="text" class="form-control" [ngClass]="{
                    'is-invalid' : formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched,
                    '' : formulario.get('nombre') == null,
                    'is-valid' :  formulario.get('nombre')?.touched && formulario.get('nombre')?.valid}"
        id=" validationServer01" formControlName="nombre">
      <div class="valid-feedback" *ngIf="formulario.get('nombre')?.valid">
        ¡Qué increible nombre!
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('nombre')?.invalid">
        ¡Error, debes completar este campo,sin números ni caracteres!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Apellido</label>
      <input type="text" class="form-control" [ngClass]="{
                    'is-invalid' : formulario.get('apellido')?.invalid && formulario.get('apellido')?.touched,
                    '' : formulario.get('apellido') == null,
                    'is-valid' :  formulario.get('apellido')?.touched && formulario.get('apellido')?.valid}"
        id="validationServer02" formControlName="apellido">
      <div class="valid-feedback" *ngIf="formulario.get('apellido')?.valid">
        ¡Uf, buen apellido!
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('apellido')?.invalid">
        ¡Error, debes completar este campo,sin números ni caracteres!
      </div>
    </div>
    <div class="col-md-4">
      <label for="validationServerUsername" class="form-label">Usuario</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend3">@</span>
        <input type="text" class="form-control" id="validationServerUsername"
          aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" [ngClass]="{
                    'is-invalid' : formulario.get('usuario')?.invalid && formulario.get('usuario')?.touched,
                    '' : formulario.get('usuario') == null,
                    'is-valid' :  formulario.get('usuario')?.touched && formulario.get('usuario')?.valid}"
          formControlName="usuario">
        <div class="valid-feedback" *ngIf="formulario.get('usuario')?.valid">
          ¡El mejor usuario!
        </div>
        <div class="invalid-feedback" *ngIf="formulario.get('usuario')?.invalid">
          ¡Error, debes completar este campo!
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationServer03" class="form-label">Email</label>
      <input type="email" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback"
        required formControlName="email" [ngClass]="{
                    'is-invalid' : formulario.get('email')?.invalid && formulario.get('email')?.touched,
                    '' : formulario.get('email') == null,
                    'is-valid' :  formulario.get('email')?.touched && formulario.get('email')?.valid}">
      <div class="valid-feedback" *ngIf="formulario.get('email')?.valid">
        ¡Mejor email imposible!
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('email')?.invalid">
        ¡Error, debes completar este campo con tu email!
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationServer03" class="form-label">DNI</label>
      <input type="number" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback"
        required formControlName="dni" [ngClass]="{
                    'is-invalid' : formulario.get('dni')?.invalid && formulario.get('dni')?.touched,
                    '' : formulario.get('dni') == null,
                    'is-valid' :  formulario.get('dni')?.touched && formulario.get('dni')?.valid}">
      <div class="valid-feedback" id="validationServer04Feedback" *ngIf="formulario.get('dni')?.valid">
        ¡Perfecto!
      </div>
      <div class="invalid-feedback" *ngIf="formulario.get('dni')?.invalid">
        ¡Error, debes completar este campo y no debes colocar más de 8 números y menos de 7!
      </div>
    </div>

    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck3"
          aria-describedby="invalidCheck3Feedback" [ngClass]="{
                    'is-invalid' : formulario.get('condiciones')?.invalid && formulario.get('condiciones')?.touched,
                    '' : formulario.get('condiciones') == null,
                    'is-valid' :  formulario.get('condiciones')?.touched && formulario.get('condiciones')?.valid}"
          required formControlName="condiciones">
        <label class="form-check-label" for="invalidCheck3">
          Estoy de acuerdo con los términos y condiciones
        </label>

        <div class="valid-feedback" id="invalidCheck3Feedback" *ngIf="formulario.get('condiciones')?.valid">
          ¡Estamos de acuerdo!
        </div>
        <div class="invalid-feedback" *ngIf="formulario.get('condiciones')?.invalid">
          ¡Error, debes aceptar los términos y condiciones!
        </div>
      </div>
    </div>
    <div class="col-12 container-button">
      <button class="btn btn-primary" type="submit" [disabled]="formulario.invalid">Enviar formulario</button>
    </div>
  </form>
</div>